@import "./variables.scss";

.asideMenu {
  grid-area: asideMenu;
  background-color: $navColor;
  color: $fontColor;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: center;
  img.picto:hover {
    opacity: 0.4;
  }
  img.avatar {
    width: 200px;
    border-radius: 30px;
  }
  a {
    text-decoration: none;
    color: $fontInside;
  }
}

@media screen and (max-width: 640px) {
  .asideMenu {
    img {
      width: 35px;
    }
  }

  .asideMenu img.avatar {
    width: 55px;
  }
}
