@import "./variables.scss";

.form,
form {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: auto;
  input {
    color: $navColor;
  }
}

form {
  height: 100%;
  background-color: $fontColor;
  border-radius: 10px;
}

@media screen and (max-width: 640px) {
  form {
    height: 80%;
  }
  .form,
  form {
    width: 90%;
  }
}
