@import "./variables.scss";

.all {
  margin: auto;
  color: $fontInside;
  text-align: center;
  a {
    text-decoration: none;
    color: $fontInside;

    &:hover {
      transform: scale(1.1);
      transition: 0.5s;
    }
  }
  .projects {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    img {
      width: 640px;
      height: 310px;
    }
    .card {
      margin: 1vw;
    }
  }
}

@media screen and (max-width: 640px) {
  .all {
    h1 {
      font-size: 25px;
    }
    .projects {
      display: flex;
      flex-direction: column;
      img {
        width: 310px;
        height: 150px;
      }
      h2 {
        font-size: 15px;
      }
    }
  }
}
